In [1]:
from pydeseq2.dds import DeseqDataSet
from pydeseq2.ds import DeseqStats

from pydeseq2 import preprocessing

import pandas as pd
import random
import data_load, constants

In [2]:
target_gene = 'ERF'

In [22]:
counts = data_load.load_txt_file(file_path=constants.expression_file_path)
mutation = data_load.load_maf_data(file_path=constants.maf_file_path)

In [23]:
counts

,RESPOND_10100218,RESPOND_10100291,RESPOND_10100412,RESPOND_10100478,RESPOND_10100596,RESPOND_10100615,RESPOND_10100801,RESPOND_10100884,RESPOND_10100899,RESPOND_10100952,...,RESPOND_80100242,RESPOND_80100313,RESPOND_80100345,RESPOND_80100411,RESPOND_80100526,RESPOND_80100556,RESPOND_80100590,RESPOND_81100031,RESPOND_40100842,RESPOND_80100259
A1BG,1.000000,1.0,0.708767,7.000000,9.0,34.000000,13.0,6.000000,4.000000,0.171311,...,1.00000,0.022664,0.131026,0.40794,3.000000,0.000000,28.000000,48.000000,6.00000,17.00000
A1CF,0.591165,2.0,0.552321,0.493855,3.0,0.200399,0.0,11.000000,13.000000,0.596398,...,0.27239,0.280305,0.043553,0.00000,1.000000,0.000000,1.000000,0.000000,0.29067,0.21181
A2M,92.000000,106.0,335.000000,285.000000,307.0,580.000000,175.0,175.000000,144.000000,244.000000,...,57.00000,144.000000,598.000000,80.00000,145.000000,225.000000,192.000000,107.000000,308.00000,59.00000
A2ML1,1.000000,3.0,0.000000,2.000000,1.0,0.108747,1.0,0.517582,7.000000,0.811379,...,2.00000,0.523358,0.913234,1.00000,0.339042,0.324337,3.000000,3.000000,2.00000,1.00000
A3GALT2,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.937852,0.000000,...,0.00000,0.000000,0.000000,0.00000,0.059369,0.000000,0.000000,0.406766,0.00000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZXDC,51.000000,80.0,42.000000,59.000000,45.0,38.000000,61.0,72.000000,77.000000,36.000000,...,77.00000,76.000000,62.000000,86.00000,64.000000,35.000000,80.000000,35.000000,73.00000,85.00000
ZYG11A,0.972629,5.0,0.347590,1.000000,2.0,0.860855,2.0,0.408425,0.632652,1.000000,...,2.00000,1.000000,0.764892,1.00000,2.000000,3.000000,0.734576,0.352341,3.00000,11.00000
ZYG11B,8.000000,16.0,13.000000,14.000000,8.0,5.000000,7.0,13.000000,14.000000,19.000000,...,9.00000,10.000000,23.000000,9.00000,11.000000,29.000000,15.000000,1.000000,9.00000,12.00000
ZYX,140.000000,102.0,196.000000,281.000000,151.0,601.000000,217.0,141.000000,201.000000,218.000000,...,240.00000,108.000000,130.000000,88.00000,104.000000,138.000000,243.000000,1230.440306,107.00000,479.00000
ZZEF1,66.000000,107.0,75.000000,62.000000,70.0,25.000000,63.0,103.000000,68.000000,42.000000,...,111.00000,100.000000,58.000000,90.00000,95.000000,69.000000,85.000000,44.000000,71.00000,69.00000

In [24]:
counts = counts[counts.sum(axis = 1) > 0]

In [26]:
counts.shape

(20001, 164)

In [25]:
# normalized_counts = preprocessing.deseq2_norm(counts.T)[0]

In [108]:
# only including expression values from samples that have DNA sequencing
# around 177 samples
normalized_counts = normalized_counts[normalized_counts.index.isin(mutation['sample'].unique())]

## Prepare data for GSEA

In [18]:
import pandas as pd 
import numpy as np
# gsea_expression_df = normalized_counts.T
gsea_expression_df=counts

position = 0
new_column_name = 'description'
gsea_expression_df.insert(position, new_column_name, 'NA')

# Reset the index and give the index column a name
gsea_expression_df = gsea_expression_df.reset_index().rename(columns={'index': 'NAME'})

gsea_expression_df.to_csv('/Users/meltemtutar/Documents/Huang/Respond/input_data/Expression_GSEA_input_v2.gct', index=False, sep='\t')

In [19]:
gsea_expression_df.shape

(20001, 166)

In [14]:
# Reset the index and give the index column a name
gsea_expression_df = gsea_expression_df.reset_index().rename(columns={'index': 'NAME'})

In [16]:
gsea_expression_df.to_csv('/Users/meltemtutar/Documents/Huang/Respond/input_data/Expression_GSEA_input_v2.gct', index=False, sep='\t')

In [17]:
# this is the only part that relies on target gene 
gsea_mutation_df = gsea_expression_df.T.drop('NAME').drop('description')[[]].reset_index(names=['sample']).merge(
    mutation[mutation['gene'] == target_gene], how ='left')[['sample', 'mutation']].fillna(0).drop_duplicates()


gsea_mutation_df.T

,0,1,2,3,4,5,6,7,8,9,...,155,156,157,158,159,160,161,162,163,164
sample,RESPOND_10100218,RESPOND_10100291,RESPOND_10100412,RESPOND_10100478,RESPOND_10100596,RESPOND_10100615,RESPOND_10100801,RESPOND_10100884,RESPOND_10100899,RESPOND_10100952,...,RESPOND_80100242,RESPOND_80100313,RESPOND_80100345,RESPOND_80100411,RESPOND_80100526,RESPOND_80100556,RESPOND_80100590,RESPOND_81100031,RESPOND_40100842,RESPOND_80100259
mutation,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
gsea_mutation_df[['mutation']].T.to_csv('/Users/meltemtutar/Documents/Huang/Respond/data/mutation_GSEA_input.cls',
                                        index=False, header=False, sep='\t')

In [110]:
target_gene

'CSMD2'